.intro {
  padding-top: 59px;
}

.intro__header {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #636363;
  margin-bottom: 12px;
}

.intro__paragraph {
  color: #959595;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 59px;
}

.intro__btn {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 22px 56px;
  margin-bottom: 59px;
}

.intro__btn-block {
  display: flex;
  justify-content: center;
}

.table__header {
  background: #F8F9FA;
  border-top: 1px solid #707071;
  border-bottom: 1px solid #707071;
}

.table__header-item {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 23px 0;
}

.table__header-item:not(:first-of-type) {
  cursor: pointer;
}

.table__header-item:last-of-type {
  text-align: left;
}

.table__header-item:nth-child(1), .table__body-item:nth-child(1) {
  min-width: 69px;
  max-width: 69px;
}

.table__header-item:nth-child(2), .table__body-item:nth-child(2) {
  min-width: 188px;
  text-align: left;
}
.table__header-item:nth-child(3), .table__body-item:nth-child(3) {
  min-width: 85px;
}

.table__header-item:nth-child(4), .table__body-item:nth-child(4) {
  min-width: 85px;
}

.table__header-item:nth-child(5), .table__body-item:nth-child(5) {
  min-width: 105px;
}

.table__header th {
  border-top: 1px solid #707071;
  border-bottom: 1px solid #707071;
}

.table__row:not(:first-of-type) td {
  border-top: 1px solid #959595;
}
.table__row:last-of-type td {
  border-bottom: 1px solid #959595;
}

.table__table {
  margin-bottom: 33px;
}

table.foobar td {
  border: solid black 1px;
}

.table__table td, .table__table th {
  font-family: 'HeliosCond';
}

.table__review {
  text-decoration: underline;
}

.table__success-percent {
  color: #16A34A;
}
.table__error-percent {
  color: #DC2626;
}

.table__info {
  color: #959595;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding: 11px 0;
}

.table__number {
  height: 100%;
  display: table-cell;
  margin: 0 auto;
}

.chip__number-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__number, .table__review, .table__success-percent, .table__error-percent {
  text-align: center;
}

.table__fake-table {
  margin-bottom: 12px;
  min-width: 1000px;
}

.table__fake-header {
  border-top: 1px solid #707071;
  border-bottom: 1px solid #707071;
  background-color: #F8F9FA;
}

.table__body-item-info {
  padding: 11px 0;
}

.table__fake-header .control {
  display: flex;
  align-items: center;
}

.table__header-item {
  min-width: 69px;
}

.table__body-item {
  min-width: 69px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__fake-body {
  border-bottom: 1px solid #959595;
}

.table__fake-body .control {
  display: flex;
  align-items: center;
}

.table__paragraph {
  padding-top: 21px;
  color: #959595;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 33px;
}

.comments {
  margin-bottom: 59px;
}

.comments__header {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.comments__card {
  border-top: 1px solid #9E9D24;
  padding: 12px 0;
  font-size: 24px;
}
.comments__card:last-child {
  border-bottom: 1px solid #9E9D24;
}

.comments__user-info-block {
  display: flex;
  align-items: center;
}

.comments {
  margin-bottom: 33px;
}

.comments__text {
  font-size: 24px;
  margin-bottom: 12px;
}

.comments__car {
  color: #9E9D24;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
  text-decoration: underline;
}
.comments__name {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}
.comments__city {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin-right: 10px;
}
.comments__time {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.table__active-filter {
  background-color: #9E9D24;
  color: #fff;
  transition: background .15s linear;
}

.table__active-filter:hover {
  background-color: #686818;
}

@media (max-width: 1100px) {
  .intro {
    padding-top: 33px;
  }

  .intro__header {
    font-size: 24px;
  }

  .intro__paragraph {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .intro__btn {
    padding: 14px;
    margin-bottom: 20px;
  }

  .comments__header {
    font-size: 24px;
  }

  .comments__text {
    font-size: 16px;
  }

  .comments__user-info-block {
    display: block;
  }

  .comments__car {
    font-size: 14px;
  }

  .comments__name {
    font-size: 14px;
  }

  .comments__city {
    font-size: 14px;
  }

  .comments__time {
    font-size: 12px;
  }
}