@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCond-Bold.eot');
  src: local('HeliosCond Bold'), local('HeliosCond-Bold'),
      url('../fonts/../fonts/HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/../fonts/HeliosCond-Bold.woff') format('woff'),
      url('../fonts/../fonts/HeliosCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCond-Bold-Italic.eot');
  src: local('HeliosCond Bold Italic'), local('HeliosCond-Bold-Italic'),
      url('../fonts/HeliosCond-Bold-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HeliosCond-Bold-Italic.woff') format('woff'),
      url('../fonts/HeliosCond-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCond-Italic.eot');
  src: local('HeliosCond Italic'), local('HeliosCond-Italic'),
      url('../fonts/HeliosCond-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HeliosCond-Italic.woff') format('woff'),
      url('../fonts/HeliosCond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCond.eot');
  src: local('HeliosCond Regular'), local('HeliosCond'),
      url('../fonts/HeliosCond.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HeliosCond.woff') format('woff'),
      url('../fonts/HeliosCond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'HeliosCond';
  font-size: 16px;
  color: #636363;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

.control {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
} 

.header {
  border: 1px solid #707071;
  background: #F8F9FA;
  padding: 40px 0;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__logo-block {
  background: #D9D9D9;
  width: 90px;
  height: 90px;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__nav-list-item:not(:last-child) {
  margin-right: 33px;
}

.first-link {
  max-width: 195px;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-list-link {
  display: flex;
  align-items: center;
  color: #636363;
  text-decoration: none;
  font-size: 20px;
  transition: color .15s linear;
}

.header__nav-list-link {
  display: flex;
  align-items: center;
  color: #636363;
  text-decoration: none;
  font-size: 200px;
}

.header__nav-list-link:hover .header__nav-list-text{
  color: #a7a7a7;
}

.header__nav-list-link path {
  transition: fill .15s linear;
}

.header__logo-link {
  margin-right: 33px;
}

.header__nav-list-link:hover path {
  fill: #a7a7a7;
}

.header__nav-list-text {
  font-size: 20px;
  transition: color .15s linear;
}

.btn-yellow {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  background-color: #9E9D24;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .15s linear;
}

.btn-yellow:hover {
  background-color: #686818;
}

.header__btn {
  /* display: block; */
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.chip__number {
  width: 26px;
  height: 26px;
  font-size: 20px;
  font-family: 'HeliosCond';
  background-color: #9E9D24;
  border-radius: 50%;
  line-height: 26px;
  text-align: center;
  color: white;
}

.footer {
  background-color: #636363;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 78px;
  padding-bottom: 72px;
}

.footer__logo-block {
  background: #D9D9D9;
  width: 206px;
  height: 206px;
  margin-right: 150px;
}

.footer__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__contacts-text {
  color: #fff;
  font-size: 24px;
}

.footer__policy {
  max-width: 585px;
}

.footer__policy-header {
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}

.header__menu {
  display: none;
  background: none;
  border: none;
  height: 41px;
}

.simplebar-scrollbar::before {
  height: 4px !important;
}
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex;
  align-items: center;
}

.main {
  position: relative;
  min-height: calc(100vh - 90px - 400px);
}

.header__content.control {
  padding: 0;
  padding-right: 5px;
}

.header__menu-close {
  display: none;
}

.btn-active .header__menu-open{
  display: none;
}

.btn-active .header__menu-close{
  display: block;
}

.menu-blur {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.blur {
  padding-top: 35px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  background-color: #fff;
  border-radius: 20px;
  padding: 0;
  position: relative;
}

.modal__header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 16px 0 74px;
}

.modal__content {
  padding: 33px 74px 74px 74px;
}

.modal__input {
  border-radius: 13px;
  border: 1px solid #636363;
  background: #F8F9FA;
  height: 74px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  padding-top: 3px;
  padding-left: 24px;
  margin-bottom: 33px;
}

.modal__input::placeholder {
  font-size: 20px;
}

.modal__btn svg {
  margin-right: 8px;
}

.modal__btn {
  border-radius: 10px;
}

.modal__paragraph {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 33px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #9E9D24;
}

.modal__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px;
}

.grey-btn {
  cursor: pointer;
  border: none;
  background-color: #636363;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  transition: background .15s linear;
}

.grey-btn:hover {
  background-color: #3f3f3f;
}

.modal__header {
  font-size: 24px;
}

.modal__close {
  cursor: pointer;
  background: none;
  border: none;
  margin-bottom: 5px;
}


@media (max-width: 1100px) {
  .header__menu {
    display: block;
  }

  .header__nav {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 101;
    padding-top: 48px;
    padding-left: 13px;
  }

  .header__nav-list-text {
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    font-weight: 700;
  }

  .header__nav-list-link svg {
    transform: rotate(-90deg);
  }

  .header__nav-list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 33px;
  }

  .header__nav-list {
    display: block;
  }

  .header__logo-block {
    width: 25px;
    height: 25px;
  }
  .header {
    padding: 0;
    border: 0.275px solid #707071;
    position: relative;
  }

  .header__btn {
    font-size: 12px;
    padding: 6px;
  }

  .footer__logo-block {
    width: 50px;
    height: 50px;
  }

  .footer__logo-block {
    margin-right: 12px;
  }

  .footer-block {
    flex-direction: column;
    align-items: start;
    padding-left: max(30px, (100vw - 320px) / 2);
    padding-right: max(30px, (100vw - 320px) / 2);
    padding-top: 20px;
  }

  .footer__contacts-text {
    font-size: 16px;
  }

  .footer__policy-header {
    font-size: 16px;
  }

  .footer__policy {
    padding-top: 20px;
  }

  .modal__header {
    font-weight: 400;
  }

  .modal__content {
    padding-top: 10px;
  }

  .modal__input {
    margin-bottom: 20px;
    padding-right: 16px;
    font-size: 14px;
    height: 44px;
  }

  .modal__paragraph {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .modal__header-block {
    padding: 15px 30px 10px 15px;
  }

  .modal__content {
    padding: 10px 15px 15px 15px;
  }

  .modal__close svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 9px;
    right: 5px;
  }

  .modal__btn {
    font-size: 14px;
  }

  .modal__btn svg {
    width: 20px;
    height: 20px;
  }
}